extends layout.pug
block content
    div
        p.
            #[strong="Full Name: "] #[span=fullName]
        p.
            #[strong="Shipping Address: "] #[span=shipAddr]
        p.
            #[strong="City: "] #[span=city]
        p.
            #[strong="State: "] #[span=state]
        p.
            #[strong="Postal Code: "] #[span=postalCode]
        p.
            #[strong="Product ID: "] #[span=productID]