extends layout.pug
block content
    div(id="centering")
        label.
            #[strong="Username: "] #{username}
        br
        label.
            #[strong="User ID: "] #{userId}
        br
        label.
            #[strong="Admin Status: "] #{isAdmin ? "Admin" : "Not Admin"}